--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: msbreed_breedid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.msbreed_breedid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.msbreed_breedid_seq OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: msbreed; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.msbreed (
    breedid integer DEFAULT nextval('public.msbreed_breedid_seq'::regclass) NOT NULL,
    breedname character varying(100) NOT NULL,
    breeddescription character varying(1024) NOT NULL,
    originid integer NOT NULL,
    sizeid integer NOT NULL,
    typeid integer NOT NULL
);


ALTER TABLE public.msbreed OWNER TO postgres;

--
-- Name: msorigin_originid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.msorigin_originid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.msorigin_originid_seq OWNER TO postgres;

--
-- Name: msorigin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.msorigin (
    originid integer DEFAULT nextval('public.msorigin_originid_seq'::regclass) NOT NULL,
    originname character varying(50) NOT NULL
);


ALTER TABLE public.msorigin OWNER TO postgres;

--
-- Name: msprediction_predictionid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.msprediction_predictionid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.msprediction_predictionid_seq OWNER TO postgres;

--
-- Name: msprediction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.msprediction (
    predictionid integer DEFAULT nextval('public.msprediction_predictionid_seq'::regclass) NOT NULL,
    userid integer NOT NULL,
    breedid integer NOT NULL,
    predictionimage bytea NOT NULL,
    predictionconfidence numeric(10,3) NOT NULL
);


ALTER TABLE public.msprediction OWNER TO postgres;

--
-- Name: mssize_sizeid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mssize_sizeid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mssize_sizeid_seq OWNER TO postgres;

--
-- Name: mssize; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mssize (
    sizeid integer DEFAULT nextval('public.mssize_sizeid_seq'::regclass) NOT NULL,
    sizename character varying(30) NOT NULL
);


ALTER TABLE public.mssize OWNER TO postgres;

--
-- Name: mstype_typeid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mstype_typeid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mstype_typeid_seq OWNER TO postgres;

--
-- Name: mstype; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mstype (
    typeid integer DEFAULT nextval('public.mstype_typeid_seq'::regclass) NOT NULL,
    typename character varying(30) NOT NULL
);


ALTER TABLE public.mstype OWNER TO postgres;

--
-- Name: msuser_userid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.msuser_userid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.msuser_userid_seq OWNER TO postgres;

--
-- Name: msuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.msuser (
    userid integer DEFAULT nextval('public.msuser_userid_seq'::regclass) NOT NULL,
    username character varying(255) NOT NULL,
    useremail character varying(255) NOT NULL,
    userpassword character varying(255) NOT NULL
);


ALTER TABLE public.msuser OWNER TO postgres;

--
-- Data for Name: msbreed; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: msorigin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.msorigin (originid, originname) FROM stdin;
0	Mexico
1	China / Japan
2	Malta
3	China
4	Tibet / China
5	United Kingdom
6	France / Belgium
7	United States
8	Southern Africa
9	Afghanistan
10	France / Great Britain
11	England
12	Western Europe
13	Russia
14	Ireland / England
15	Italy
16	Spain
17	Norway
18	Middle East
19	Scotland
20	Germany
21	England / Scotland
22	Ireland
23	Wales
24	Australia
25	Tibet
\.


--
-- Data for Name: msprediction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mssize; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mssize (sizeid, sizename) FROM stdin;
0	Small
1	Large
2	Medium
\.


--
-- Data for Name: mstype; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mstype (typeid, typename) FROM stdin;
0	Toy
1	Hound
2	Sporting
3	Terrier
4	Non-Sporting
5	Working
\.


--
-- Data for Name: msuser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.msuser (userid, username, useremail, userpassword) FROM stdin;
1	Robert Jefferson Sugianto	robertjefferson2945@gmail.com	Robert123
\.


--
-- Name: msbreed_breedid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.msbreed_breedid_seq', 1, false);


--
-- Name: msorigin_originid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.msorigin_originid_seq', 1, false);


--
-- Name: msprediction_predictionid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.msprediction_predictionid_seq', 14, true);


--
-- Name: mssize_sizeid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mssize_sizeid_seq', 1, false);


--
-- Name: mstype_typeid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mstype_typeid_seq', 1, false);


--
-- Name: msuser_userid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.msuser_userid_seq', 5, true);


--
-- Name: msbreed msbreed_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.msbreed
    ADD CONSTRAINT msbreed_pkey PRIMARY KEY (breedid);


--
-- Name: msorigin msorigin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.msorigin
    ADD CONSTRAINT msorigin_pkey PRIMARY KEY (originid);


--
-- Name: msprediction msprediction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.msprediction
    ADD CONSTRAINT msprediction_pkey PRIMARY KEY (predictionid);


--
-- Name: mssize mssize_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mssize
    ADD CONSTRAINT mssize_pkey PRIMARY KEY (sizeid);


--
-- Name: mstype mstype_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mstype
    ADD CONSTRAINT mstype_pkey PRIMARY KEY (typeid);


--
-- Name: msuser msuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.msuser
    ADD CONSTRAINT msuser_pkey PRIMARY KEY (userid);


--
-- Name: msbreed msbreed_originid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.msbreed
    ADD CONSTRAINT msbreed_originid_fkey FOREIGN KEY (originid) REFERENCES public.msorigin(originid);


--
-- Name: msbreed msbreed_sizeid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.msbreed
    ADD CONSTRAINT msbreed_sizeid_fkey FOREIGN KEY (sizeid) REFERENCES public.mssize(sizeid);


--
-- Name: msbreed msbreed_typeid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.msbreed
    ADD CONSTRAINT msbreed_typeid_fkey FOREIGN KEY (typeid) REFERENCES public.mstype(typeid);


--
-- Name: msprediction msprediction_breedid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.msprediction
    ADD CONSTRAINT msprediction_breedid_fkey FOREIGN KEY (breedid) REFERENCES public.msbreed(breedid);


--
-- Name: msprediction msprediction_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.msprediction
    ADD CONSTRAINT msprediction_userid_fkey FOREIGN KEY (userid) REFERENCES public.msuser(userid);


--
-- PostgreSQL database dump complete
--

